[package]
name = "rust-prometheus-metric-generator"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = "0.7.5"
hyper = "1.4.1"
prometheus-client = "0.22.3"
tokio = {version="1.40.0", features = ["full"] }
